<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mobica.discoverysdk">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.mobica.beacondemo.permission.C2D_MESSAGE" />

    <permission
        android:name="com.mobica.beacondemo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application android:allowBackup="true"
                 android:supportsRtl="true"
        >
        <activity
            android:name=".nfc.DiscoverActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="t-mobile.com"
                    android:pathPattern="/store/.*/entrance"
                    android:scheme="tmnfc" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="t-mobile.com"
                    android:pathPattern="/store/.*/exit"
                    android:scheme="tmnfc" />
            </intent-filter>
        </activity>

        <service
            android:name=".nfc.NfcDiscoverService"
            android:exported="false" >
        </service>
    </application>

</manifest>
